{layout name="layout" /}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">用户列表({$heros->total()})</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Hero_id</th>
            <th>Hero_ame</th>
            <th>More</th>
        </tr>
        </thead>
        <tbody>
        {volist name="heros" id="hero"}
        <tr>
            <th scope="row">{$hero.id}</th>
            <td>{$hero.hero_id}</td>
            <td>{$hero.hero_name}</td>
            <td>
                <div class="layui-btn-group">
                    <a  class="layui-btn" href="/hero/edit/{$hero.id}">编辑</a>
                    <!--<a  class="layui-btn delete" href="{:url('hero/delete/'.$hero.id)}">删除</a>-->
                    <a  class="layui-btn delete" num="{$hero.id}" onclick="del()">删除</a>
                </div>
            </td>
        </tr>
        {/volist}
        </tbody>
        <tfoot><tr></tr></tfoot>
    </table>
    {$heros->render()}
</div>

<script>
    $('.delete').click(function() {
        var id = $(this).attr('num');
        var a = $(this);
        $.ajax({
            type: "get",
            url: "/hero/delete/"+id,
            success: function(msg){
                a.parents('tr').remove();
                layer.open({
                    type: 0,
                    title:'管理用户',
                    content: msg //注意，如果str是object，那么需要字符拼接。
                });
            }
        });
    })
</script>